<%= render 'shared/navbar' %>

<div class="container">
  <%= render 'shared/banner_content' %>
</div>

<%= render 'shared/banner_background' %>


<div class="container">

  <div class="row">

    <% @cocktails.each do |cocktail| %>

       <!--  <%= link_to (cocktail_path(cocktail)) do%>
        <% if !cocktail.photo.url.nil? %>
        <%= cl_image_tag cocktail.photo.url(:thumnail) ,crop: :fill %>
        <% end %>
          <%= cocktail.name %>
        <% end %> -->

    <div class="example-2 card col-xs-12 col-md-4">
      <div class="wrapper">
<!--         <%= cl_image_tag cocktail.photo.url(:thumnail) ,crop: :fill %>
 -->
        <div class="data">
          <div class="content">

<!--             <span class="author">Jane Doe</span>
 -->        <h1 class="title">
              <%= link_to (cocktail_path(cocktail)) do%>
                  <%= cocktail.name %>
              <% end %>
            </h1>
            <%= link_to "More info", cocktail_path(cocktail), class:"button" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    </div>


  </div>


</div>


</div>
<%= render 'shared/footer' %>

